::selection { background-color: yellow; color: black; }
::-webkit-scrollbar { width: 7px; height: 7px; }
::-webkit-scrollbar-track { background: #555; }
::-webkit-scrollbar-track:hover { cursor: pointer; }
::-webkit-scrollbar-thumb { background: #eee; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
}

.button {
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.5rem;
  background: transparent;
  color: white;
  cursor: pointer;
}
.wr {
  height: 5px;
  width: 100%;         /* Thickness */
  border: none;
  border-bottom: 3px solid #fff;
  margin: 2rem 0;
}
.image-picker {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto;
  height: 100vh;
  place-items: center;
}
.upload-center { width: 100%; display: flex; justify-content: center;}
.new-row { display: flex; justify-content: space-evenly; }
.centralizer { display: flex; flex-direction: column; justify-content: center; align-items: center; }
.image-container { display: grid; height: 100vh; place-items: center; overflow: hidden; }
.image-picker > div { overflow: auto; display: flex; justify-content: center; flex-direction: column; }
.new-image-btn { background: transparent; outline: none; border: 5px groove #fff; color: #fff; margin-top: 1rem; width: 110%; }
.file-input { overflow: hidden; width: 130px; }
.file-input::-webkit-file-upload-button { visibility: hidden; }
.file-input:hover::before { border-color: #ccc; border-width: 3px; }
.file-input::before {
  content: 'Select an image';
  display: inline-block;
  background: transparent;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #aaa;
  font-weight: 700;
  font-size: 10pt;
}

.crop-controls,
.filter-controls,
.text-controls,
.draw-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  z-index: 100;
  background: rgba(16, 16, 16, 0.25);
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.crop-controls { z-index: 500; justify-content: space-evenly; }
.text-controls { justify-content: space-evenly; }
.filter-controls { overflow-x: auto; overflow-y: hidden; }

.filter-item,
.text-item,
.draw-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alert-container {
  position: fixed;
  top: 60px;
  left: 60px;
  width: calc(100vw - 120px);
  height: 60px;
}

.info { background-color: #0dcaf0; color: black; }
.error { background-color: #dc3545; }
.extra { background-color: #6c757d; }
.info, .error, .extra { padding: 0.25rem; border-bottom: 1px solid white; cursor: pointer; }